.button{
  width: 200px;
  height: 52px;
  align-items: center;
  background: #005FF8;
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto 32px auto;

}